<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/house_admin_db?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root123456</property>
    
        <!--<property name="hibernate.connection.url">jdbc:mysql://172.30.213.14:3306/house_admin_db?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">admin123</property>-->
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <!--<mapping resource="../java/hibernate/hibernate.hbm.xml"/>
        <mapping/>-->
        <mapping class="entitys.User"/>
        <mapping class="entitys.Supplier"/>
        <mapping class="entitys.Rolle"/>
        <mapping class="entitys.QualityRating"/>
        <mapping class="entitys.Payments"/>
        <mapping class="entitys.Category"/>
        <mapping class="entitys.AvailablityRating"/>
        <mapping class="entitys.Apartment"/>
    
    </session-factory>
</hibernate-configuration>
